$main-ff: 'Ubuntu', 'Arial', sans-serif;
$title-ff: 'Open Sans Bold', 'Arial', sans-serif;
$subtitle-ff: 'Ubuntu Bold', 'Arial', sans-serif;
$main-title-ff: 'Open Sans Extra Bold', 'Arial', sans-serif;
$quotes-ff: 'Montserrat', 'Arial', sans-serif;
$legal-ff: 'Open Sans Semi Bold', 'Arial', sans-serif;
$main-fz: 16px;
$semi-fz: 14px;
$accent-color: #e9ac38;
$light-color: #fff;
$main-dark-color: #272727;
$main-text-color: #444444;
$semi-text-color: #464646;
$footer-text-color: #9699a6;
$legal-text-color: #626263;
$hamburger-background-color: #824fe3;
$line-color: #fcae26;
$accent-btn-color: #f39313;
$light-btn-color: #f6f9fa;