.courses__title {
  position: relative;
  margin: 0 0 6px;
  padding-left: 40px;
  font-family: $title-ff;
  font-size: 20px;
  line-height: 78px;
  text-transform: uppercase;
  color: $main-dark-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 11px;
    font-size: 33px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 41px;
  }
}

.courses__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.courses__card-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    @include flex-direction('center');
    flex-wrap: wrap;
  }
}

.courses__card-item {
  @include flex-direction('center');
  min-height: 225px;
  background-color: #fafafa;
  border-radius: 5px;
  transition: all 200ms linear;
  cursor: pointer;

  &:hover {
    background-color: $accent-color;
  }

  &:hover .courses__card-description,
  &:hover .courses__card-age,
  &:hover .courses__card-age--sup {
    color: $light-color;
  }

  &:hover .courses__card-age--sup::after {
    background-image: url(../images/arrow-white-mob.png);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media screen and (min-width: 767px) {
    &:hover .courses__card-age--sup::after {
      background-image: url(../images/arrow-white.png);
      width: 39px;
    }
  }

  @media screen and (min-width: 768px) {
    min-height: 295px;
    min-width: 310px;
  }

  @media screen and (min-width: 1920px) {
    min-width: 325px;
  }
}

.courses__card-item__wrapper {
  width: 200px;

  @media screen and (min-width: 768px) {
    width: 220px;
  }

  @media screen and (min-width: 1920px) {
    width: 245px;
  }
}

.courses__card-title {
  margin: 0 0 28px;
  font-family: $subtitle-ff;
  font-size: 25px;
  color: $main-dark-color;
  line-height: 25px;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 18px;
  }
}

.courses__card-description {
  margin: 0 0 32px;
  font-family: $main-ff;
  font-size: 16px;
  color: $main-text-color;
  line-height: 20px;
  letter-spacing: 0.045em;

  @media screen and (min-width: 768px) {
    line-height: 22px;
    margin-bottom: 29px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 19px;
  }
}

.courses__card-age {
  margin: 0;
  font-family: $title-ff;
  font-size: 30px;
  color: $accent-color;
  line-height: 22px;
  letter-spacing: 0.015em;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.courses__card-age--sup {
  position: relative;
  top: -20px;
  font-family: $main-ff;
  font-size: 13px;
  color: $accent-color;
  line-height: 22px;
  letter-spacing: 0.015em;
  vertical-align: top;
  text-decoration: underline;

  &::after {
    display: block;
    content: '';
    margin-top: 47px;
    width: 19px;
    height: 13px;
    background-image: url(../images/arrow.png);
  }
}
